APP_NAME=Facebook API
APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=false

DB_HOST=localhost
DB_PORT=5432
DB_USER=fb_user
DB_PASSWORD=changeme
DB_NAME=facebook_api

ENCRYPTION_KEY=generate with: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"

QR_TOKEN_TTL=300
